.image{
    width:  50%;
    height: 80%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #fff;
  }
  
  .logo {
    font-size: 24px;
  }
  
  /* ここから下がハンバーガーメニューに関するCSS */
    
  /* チェックボックスを非表示にする */
  .drawer_hidden {
    display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }
  
  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 8px;
  }
  
  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 8px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
    
  /* メニューのデザイン*/
  .nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: .5s;
  }
  
  /* メニュー黒ポチを消す */
  .nav_list {
    list-style: none;
  }
  
  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
    left: 0;/* メニューを画面に入れる */
  }
  .item_name{
    text-size-adjust: 100px;
  }
  .category{
    background-color: darkgray;
  }
  .menu{
    background-color: rgb(255, 255, 255);
    border: 1px solid #a7a3a3;
    width: 200px;
  }
.text1{
  color: brack;
}
  
#global-nav{
  border-top: 0;
  border-bottom: 0;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(153, 149, 149);
  opacity: .8;
  z-index: 10;
  cursor: pointer;
}
 
  #global-nav dt{
  background: url(./images/icon/menu.png) 1em center no-repeat #99179c;

  color: #fff;
  font-size: 1.4em;
  border-bottom: solid 1px #c43ec7;
  background-size: 20px;
  background-position: 95%;
  }
  #global-nav #global-nav-in .menu-wrap{ display:none; }
  #global-nav #global-nav-in #menu{ margin-bottom: 0; }
  #global-nav #global-nav-in #menu,
  

  #global-nav #global-nav-in #menu li{

  border: 0;
  }

  #global-nav #menu li.first{ border-left: 0; }
  #global-nav #global-nav-in #menu li{
  border-bottom: 1px solid #c43ec7;

  background-color: #fff;
  white-space: normal;
  border-top: #6d116f solid 1px;
  }
  #global-nav #global-nav-in #menu li.first{ border-left: 0; }
  #global-nav #global-nav-in #menu ul{
  position: static;
  width: auto;
  padding-left: 10%;
  }
  #global-nav #global-nav-in #menu ul li{ width: 100%; }
  #global-nav #global-nav-in #menu ul li:last-child{ border-bottom: 0; }
  /*メニューのデザイン*/
  #global-nav #global-nav-in #menu li a:link,
  #global-nav #global-nav-in #menu li a:visited,
  #global-nav #global-nav-in #menu li a:hover,
  #global-nav #global-nav-in #menu li a:active{ background: url(./images/icon/icon-arrow04.png) 1em 1em no-repeat #99179c; }
  #global-nav #global-nav-in #menu ul li a{ width: auto; }
  #global-nav .btn-gnav{
  display:block;
  padding: 0.2em;
  cursor: pointer;
  }
    
  #main-image .catch-copy{ font-size: 1.4em; }
  /* スマホスタイル調整新規 */
  /* nav */
  dl#global-nav-in {
  width: 100%!important;
  margin: 0!important;
  box-sizing: border-box;
  padding-left: 0; 
  } 
  #global-nav{
  position: relative;
  height: auto;
  }
  #global-nav img {
  width: 70px;
  position: absolute;
  left: 5px;
  top: 5px;
  }
  #global-nav .menu-wrap{
  padding: 0;
  }
  #global-nav .btn-gnav {
  display: block;
  padding: 0.2em;
  cursor: pointer;
  height: 28px;
  }
  #global-nav #menu li a {
  border-left: none;
  } 
  .pc{
  display: none;
  }
  .sp{
  display: block;
  }
  
  
  img {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 248px;
}


html {
  font-size: 100%;
}
body {
  color: #24292e;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  font-size: 0.9rem;
  padding: 0 4%;
  display: flex;
}
.site-title {
  line-height: 1px;
}
.site-title a {
  display: block;
}
.sec-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 65px;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 270px;
  margin: 0 auto;
  padding: 0 4%;
}
#header ul {
  display: flex;
  padding: 10px 0;
}
#header li {
  font-size: 0.9rem;
  margin-left: 30px;
}
#header li a {
  color: #24292e;
}
#header li a:hover {
  opacity: 0.7;
}
#header li img.icon {
  width: 20px;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  margin-bottom: 80px;
}
#mainvisual img {
  width: 100%;
  max-width: 1920px;
  height: 420px;
  object-fit: cover;
}

/*-------------------------------------------
About
-------------------------------------------*/
#about ul {
  margin-bottom: 30px;
}
#about li:first-child {
  margin-bottom: 30px;
}
#about p {
  text-align:justify;
}

/*-------------------------------------------
Works
-------------------------------------------*/
#works ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
#works li {
  width: 31%;
  margin-bottom: 23px;
}

/*-------------------------------------------
News
-------------------------------------------*/
#news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;
  margin-bottom: 20px;
}
#news dt {
  width: 20%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}
#news dd {
  width: 80%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}

/*-------------------------------------------
Contact
-------------------------------------------*/
#contact dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
#contact dt {
  width: 15%;
}
#contact dd {
  width: 85%;
  margin-bottom: 10px;
}
#contact dd input,
#contact dd textarea {
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px;
}
#contact dd textarea {
  height: 10rem;
}
#contact .button {
  text-align: center;
}
#contact .button input {
  width: 200px;
  background-color: #24292e;
  color: #fff;
  padding: 15px 0;
  border: solid 1px #24292e;
}
#contact .button input:hover {
  background: #fff;
  color: #24292e;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {
  /*.wrapper {
    margin-bottom: 70px;
  }*/
  .site-title {
    margin-top: 20px;
  }
  .sec-title {
    margin-bottom: 40px;
  }

  /*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
  #header {
    max-width: 100%;
    height: auto;
    flex-direction: column;
  }
  #header li {
    font-size: 0.8rem;
    margin-left: 20px;
  }
  #header li:first-child {
    margin-left: 0;
  }

  /*-------------------------------------------
  Works
  -------------------------------------------*/
  #works ul {
    flex-direction: column;
  }
  #works li {
    width: 100%;
  }

  /*-------------------------------------------
  News
  -------------------------------------------*/
  #news dl {
    flex-direction: column;
  }
  #news dt {
    width: 100%;
    border-bottom: none;
    padding-bottom: 0;
  }
  #news dd {
    width: 100%;
    padding-top: 0;
  }

  /*-------------------------------------------
  Contact
  -------------------------------------------*/
  #contact dl {
    flex-direction: column;
  }
  #contact dt {
    width: 100%;
  }
  #contact dd {
    width: 100%;
  }
}


/* 商品詳細テキストのcss */
.text-wrapper
  {
    border: 1.5px black solid;
    padding: 20px;
    margin-top: 20px;
    width:auto;
}

.menu-wrapper{
  line-height: 100%;
    margin: auto 0px;
    width: 400px;
}
.messege-wrapper{
  border: 1px black solid;
  padding: 40px;
  margin-top: 40px;
  width: auto;
}

/*ログイン画面の切り替え*/

/*tabの形状*/
.tab{
  display: flex;
  justify-content: space-evenly;
  height: 10%;
  width: 100%;
}
.tab li a{
  display: block;
  background:#ddd;
  padding:10px 20px;
}
/*liにactiveクラスがついた時の形状*/
.tab li.active a{
  background:#fff;
}


/*エリアの表示非表示と形状*/
.area {
  display: none;/*はじめは非表示*/
  opacity: 0;/*透過0*/
  background: #fff;
  padding:10px px;
  bottom: auto;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login-group{
width: auto;
color:#333;
height: auto;
}

/*========= レイアウトのためのCSS ===============*/

body{
  background:#eee;
}

ul{
  list-style:none;
}

a{
  color:#333;
  text-decoration: none;
}

.wrapper{
  text-align: center;
 /* width:200%;*/
  max-width: 960px;
  background:#fefefe;
}

.area h2{
  font-size:1.3rem;
  margin:0 0 20px 10px;
}

.area li{
  padding: 10px; 
}

/*詳細画面*/
.shohin-wrapper
  {
    border: 1.5px black solid;
    padding: 20px;
    margin-top: 20px;
    height: auto;
    width:auto;
    background-color: #a7a3a3;
}
.item{
  background-color: rgb(253, 253, 253);
}

/* cssの読み込みを打ち消し */
.defaultCss{
  margin: 0 auto;
}

.mainWrapper{
  text-align: center;
  padding: 80px 0;
  background: white
}

/* login */
.logo{
  margin-top: 20px;
}

.cartLogo{
  padding: 15px 0;
}

.reloadLogo{
  padding: 17px 0;
}

.inputMargin{
  margin: 40px 0;
}

.labelMargin{
  margin-bottom: 10px;
}
/*カート画面*/
.name{
  width: 100%;
  height: 100px;
  font-size: 40px;
  padding: 30px 0;
  border-bottom: 1.5px solid #24292e;
}

.shohin{
  width: 100%;
  height: 150px;
  padding:0px;
  border-bottom: 1.5px solid #24292e;
}
.img{
  position:absolute;
  height: 150px;
  width: 150px;
  margin:0px;
  padding:0px;
  float: left;
}
.style{
  height: 80%;
  width: 80%;
  margin: 10%;
 
}
.s-name{
  height: 160px;
  width: 100%;
  margin:0px;
  padding-left:150px;
  float: right;
}
.s_name{
  margin: 20px 0;
  font-size: 20px;
}
.s_suuryou{
  float:left;
}
.cancel{
  text-align: right;
  float:right;
  margin:0 20px
}
.kakutei{
  width:25%;
  height:40px;
  background-color: black;
  color:white;
  margin:15px;
 
}