body{
    background-color: cadetblue;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: brown;
}

ul{
    list-style-type: none;
}


#H1{
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding: 5%;
    background-color: aquamarine;
    color: blueviolet;
}

#text2{
    border-radius: 3%;
}

#img1,#img2{
    width: 200px;
}